[Desktop Entry]
Name=mkchromecast
Comment=Cast your Linux audio or video files to your Google cast or Sonos devices
Exec=/usr/bin/mkchromecast -t
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/mkchromecast.xpm
Categories=AudioVideo;Audio;
Keywords=audio;chromecast;google;cast;pychromecast;
