Source: mkchromecast
Section: unknown
Priority: optional
Maintainer: Muammar El Khatib <muammar@debian.org>
Build-Depends: debhelper (>=9),dh-python,python-all (>= 2.6.6-3~),python-setuptools,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
#Vcs-Git: git://anonscm.debian.org/collab-maint/mkchromecast.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mkchromecast.git

Package: python-mkchromecast
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Suggests: python-mkchromecast-doc
Description: <insert up to 60 chars description> (Python 2)
 <insert long description, indented with spaces>
 .
 This package installs the library for Python 2.

Package: python3-mkchromecast
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-mkchromecast-doc
Description: <insert up to 60 chars description> (Python 3)
 <insert long description, indented with spaces>
 .
 This package installs the library for Python 3.

Package: python-mkchromecast-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description> (common documentation)
 <insert long description, indented with spaces>
 .
 This is the common documentation package.
