#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

export PYBUILD_NAME=mkchromecast

%:
	dh $@  --with python2

override_dh_auto_build:
	touch build

override_dh_auto_test:
	echo 'Do nothing'

override_dh_install:
	dh_install
	dh_python2
	chmod +x debian/mkchromecast/usr/share/mkchromecast/mkchromecast.py

override_dh_auto_clean:
	echo 'Cleaning *.pyc'
	find . -name \*.pyc -exec rm {} \;
